# Environment variables
.env
*.env

# Virtual environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Only ignore RAW data if files are too large
# data/raw/*.csv

# Keep processed data!
# data/processed/*.csv  <- REMOVE THIS LINE
